<IfModule mod_rewrite.c>
    RewriteEngine On

    # Remove "public" from URL
    RewriteCond %{REQUEST_URI} ^/public/ [NC]
    RewriteRule ^public/(.*)$ /$1 [L,R=301]

    # Handle requests
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
